.header-name{
  font-size: 12px
}

.sign_up_button{
  background:none;
  color:inherit;
  border:none;
  padding:0;
  font: inherit;
  color: blue;
    font-size: 12px;
}

.link_box{
  height: 64.5px;
  display: flex;
  align-items: center;
}

.sign_up_button:hover{
  cursor: pointer;
}


.login-signup{
    display: flex;
    flex-direction: row;
}

.auth_box{
  margin: 5px;
  margin-left: 20px;
  height: 60px;
  border: 3px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;

}

.auth_box:hover {

    border-bottom: solid #2bde73;
}
