nav{
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.top_nav{
  display: flex;
  justify-content: flex-end;
  height: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 5;

}
.top_nav_middle{
  width: 33%;
  display: flex;
}

.top_nav_right{
  width: 33%;
  display: flex;

}
