.nav_project_container{
  width: 90%;
  margin-left: 5%;
  height: 750px;

}
.nav_project_nav{
  height: 90px;
  margin-bottom: 5px;

}
.project_nav_container{
  display: flex;
  margin-top: 90px;
  align-self: center;
  justify-content: center;
}
