.project_funded_info{
  width: 450px;
  height: 600px;

}


.main_project_line_box{
  margin-bottom: 20px
}

.project_blurb_funded_boxs{
  height: 225px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.green_text{
  color: #2BDE73;
  font-size: 27px;
}

.funded_box_title{
  font-size: 27px;
}

.project_blurb_funded_text{
  font-size: 14px;
  line-height: 175%;
  color: #505050;
  font-weight: 400;
}

.project_blurb_funded_text{
}
