.project_page_background{
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  width: 100%;
}
.project_page_container{
  height: 2250px;
  margin-top: 80px;
    background-color: #f5f5f5;
}

.project_header{
  height: 300px;
  display: flex;
  justify-content: flex-start;
}
.project_header_creator_box{
  width: 20%;
  height: 300px;
  border-color: #0000ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project_header_by_box{
  display: flex;
  justify-content: center;
}

.by{
  margin-top: 10px;
  margin-right: 5px;
  color: #383838;
  font-weight: 300;
}
.creator{
  margin-top: 10px;
  color: #202020;
  font-weight: 500;
}


.project_header_project_desciption_box{
  padding-top: 70px;
  width: 80%;
  height: 200px;
  border-color: #0000ff;
  display: flex;
  flex-direction: column;


}

.project_header_project_title{
  border-color: #32CD32;
  height: 120px;
  display: flex;
  align-items: center;
  color: #202020;
  font-size: 300%;

}
.project_page_title{
  margin-left: 20px;
}

.project_header_project_tag_line{
  border-color: #32CD32;
  height: 130px;
}

.project_header_project_tag_line{
  color: #7e7e7e;
  display: flex;
  align-items: center;
}

.project_page_tagline{
  margin-left: 20px;
  font-size: 150%;
  font-weight: 100;
}

.project_picture_container{
  height: 55%;
  max-height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1450px;

}

.main_project_image_container{
  max-width: 960px;
  position: relative;
  margin:0 auto;
  line-height: 1.4em;
  min-width: 200px;


}

.main_project_image{
  height: auto;
  width: 100%;
  max-width: 900px;
  max-height: 600px;
}



.project_about_container{
  height: 55%;
  display: flex;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #e7ecdf;
}

.project_page_description_container{
  width: 65%;
}
.project_page_description_title{
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
}
.description_title{
  margin-left: 100px;
  color: #404040;
  font-size: 170%;
  font-weight: 300;
}
.project_description_box{
  height:  690px;
  width: 99%;
}

.project_description{
  margin-left: 100px;
  color: #404040;
  font-size: 120%;
  line-height: 150%;
  max-width: 600px;
}

.project_page_rewards_container{
  width: 35%;
}
